To run Python programs with graphics using Dash, you need:

*Python 3 installed
*pip installed
*Add Python to your Windows PATH so it's recognized when running
*Install plotly with:
	pip install plotly [enter]
*Install ipywidgets with:
	pip install ipywidgets [enter]
*Install Dash with:
	pip install dash [enter]
------------------------------------------
*To run the power representation program:

On Windows:
	*Start -> type cmd [enter]
	*In the command prompt window, use the cd command to navigate to the directory containing all the files and programs
	*In the command prompt window, type:
		python represent_Power.py [window length] "[file]" [enter]
		For example:
			python represent_Power.py 60 "SMM 2024-06-7 al 8.csv" [enter]

	*The complete command to view the results of the file [file] in a browser by typing http://127.0.0.1:[port] would be:
		python represent_Power.py [window length] "[file]" [port] [enter]
		For example:
			python represent_Power.py 60 "SMM 2024-06-7 to 8.csv" 8050 [enter]

On Linux:

	*Open a terminal in the application's directory.
	*In the terminal window, activate the appropriate Conda environment.
		For example:
			conda activate tf
	*In the terminal window, type:
		python represent_Power.py [window length] "[file]" [enter]
		For example:
			python represent_Power.py 60 "SMM 2024-06-7 to 8.csv" [enter]
	*The complete command to view the results of the file [file] in a browser by typing http://127.0.0.1:[port] would be:
		*python represent_Power.py [window length] "[file]" [port] [enter]
		For example:
			python represent_Power.py 60 "SMM 2024-06-7 al 8.csv" 8050 [enter]

*When finished, your internet browser will open to the following address:
	http://127.0.0.1:[port] [enter]
	For example, if the port is 8050,
		http://127.0.0.1:8050